/* 

RESPONSIVE METRICS

MOBILE: 414px X 896px

TABLET: 768px X 1024px

DESKTOP: 1920px X 1080px 

*/

/* GENERAL PAGE STYLES */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c3444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  background-color: #5d737e;
  color: #f1edee;
  zoom: 90%;
}

.home-layout {
  display: flex;
  flex-direction: column;
}

.help-banner {
  background-color: #0e103d;
  color: #f1edee;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.help-banner a {
  color: #b3001b;
  text-decoration: none;
}

.help-banner a:hover {
  color: #b3001b41;
  text-decoration: none;
}


.btn-support {
  background-color: #b3001b;
}

.btn-subscribe {
  background-color: #0e103d;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  transition: 0.3 ease-in-out;
  padding: 2em;
  text-align: center;
  background-color: #f1edee9d;
  box-shadow: 0 .5em 1em #071013;
  margin: auto;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  transition: 0.32 ease-in-out;
  text-align: center;
}

nav.navbar.scrolled {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 90%;
  top: 0;
  z-index: 9999;
  transition: 0.5 ease;
  padding: 1em;
  text-align: center;
  background-color: #f1edee9a;
  border-radius: 2em;
  box-shadow: .5em .5em 1em #0e103d;
}

.header-nav img {
  width: 4em;
  margin-right: 1em;
  border-radius: 2em;
  box-shadow: 0 .25em 1em #0e103d;
}

.header-nav button {
  margin: 0.25em;
  border-radius: 2em;
}

.nav-links {
  margin: 0.5em;
}

.support-btn {
  border: #0e103d solid 0.25em;
  background-color: #b3001b;
}

.events-btn {
  border: #0e103d solid 0.25em;
  background-color: #b3001b;
}

.header {
  background-color: #0e103d;
  color: #f1edee;
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #0e103d solid 0.25em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 1em 1em 2em #071013;
}

.header-block {
  display: flex;
  justify-content: space-between;
}

.header-block div {
  border: #f1edee solid 2px;
  padding: 1em;
  border-radius: 2em;
}

.not-found {
  background-color: #b3001b;
  color: #f1edee;
  padding: 2em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #0e103d solid 0.25em;
  border-radius: 2em;
  text-align: center;
  box-shadow: 1em 1em 2em #071013;
}

.error-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.error-block div {
  padding: 1em;
  border-radius: 2em;
}

.error-block img{
  border-radius: 7em;
}

/* HOME PAGE STYLES */

.mission-sect {
  margin: 1em;
  color: #071013;
}

.flag-animation {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em;
  border: #0e103d solid 2px;
  background-color: #b3001b;
  border-radius: 2em;
  box-shadow: 1em 1em 2em #071013;
}

.flag-animation img{
  border-radius: 5em;
  box-shadow: 0 .5em 1em #f1edee;
}

.mission-stats {
  border: 2px solid #0e103dcb;
  border-radius: 2em;
  background-color: #f1edee;
  color: #071013;
  padding: 2em;
  box-shadow: 1em 1em 2em #071013;

}

.roadmap-block {
  border: 2px solid #071013;
  padding: 2em;
  margin: 2em;
  display: flex;
  justify-content: space-between;
  background-color: #0e103d;
  box-shadow: 0 .1em 1em #f1edeeb3;

}

.roadmap-sect {
  border: 2px solid #0e103d;
  padding: 1em;
  background-color: #b3001b;
  border-radius: 2em;
  box-shadow: 1em 1em 2em #071013;

}

.roadmap-sect div {
  border: 2px solid #071013;
  text-align: center;
  padding: 1em;
  border-radius: 2em;
}

.roadmap-block div{
  border: 2px solid #f1edee;
  text-align: center;
  padding: 1em;
  border-radius: 2em;
}

/* ABOUT PAGE STYLES */

.about {
  padding: 1em;
}

.why-block {
  border: 2px solid #0e103dcb;
  margin: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #b3001b;
  border-radius: 2em;
  box-shadow: 1em 1em 2em #071013;
}

.why-block div {
  border: 2px solid #071013;
  padding: 1em;
  margin: 1em;
  text-align: center;
  border-radius: 1em;
}

.values-block {
  border: 2px solid #0e103d;
  padding: 2em;
  margin: 2em;
  background-color: #0e103d;
  border-radius: 2em;
  box-shadow: 1em 1em 2em #071013;

}

.support-block {
  border: 2px solid #0e103dcb;
  background-color: #b3001b;
  padding: 2em;
  margin: 2em;
  border-radius: 2em;
  box-shadow: 1em 1em 2em #071013;
  display: flex;
  justify-content: space-between;
}

.support-block div {
  padding: 2em;
  border: 2px solid #0e103dcb;
  text-align: center;
  margin: 1em;
  border-radius: 2em;
  box-shadow: 0 .1em 1em #f1edee;
}

/* RESOURCES PAGE STYLES */

.resources {
  padding: 1em;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  color: #071013;
  background-color: #f1edee;
  border: 2px solid #0e103d;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  box-shadow: .1em .1em 1em #071013;
}

.event-calendar {
  border: 2px dotted #b3001b;
  padding: 1em;
  background-color: #0e103d;
  color: #f1edee;
}

.events-block {
  border: 2px solid #0e103dcb;
  padding: 3em;
  margin: 1em;
}

.resource-block {
  border: 2px solid #0e103d;
  padding: 2em;
  margin: 2em;
  background-color: #b3001b;
  color: #f1edee;
  border-radius: 2em;
  box-shadow: .5em .5em 2em #071013;
}

.support-card-urgent {
  padding: 1em;
  border-radius: 2em;
  box-shadow: 0 .25em .75em #f1edee;
}

.support-btns-urgent {
  display: flex;
  justify-content: space-between;
}

.local-support-block {
  border: 2px solid #b3001b;
  padding: 2em;
  margin: 2em;
  background-color: #0e103d;
  color: #f1edee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  box-shadow: .5em .5em 2em #071013;
}

.icon-group {
  display: flex;
  align-items: center;
  margin-left: 3em;
}

.icon-group img{
  border-radius: 5em;
  box-shadow: .1em .1em 1em #f1edee;
}

.downloadables {
  display: flex;
  justify-content: space-between;
}

.downloadables-block {
  border: 2px solid #0e103d;
  background-color: #b3001b;
  padding: 2em;
  margin: 2em;
  text-align: center;
  border-radius: 2em;
  box-shadow: .5em .5em 2em #071013;
}

.downloadables-block div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.downloadables-block .col {
  border: 2px dotted #f1edee;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

.downloadables-block img:hover {
  transform: scale(2);
}

.resource-btn-group {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.resource-btn-group button {
  margin: 1em;
}

.blog {
  color: #071013;
}

.blog-block {
  border: 2px solid #0e103dcb;
  padding: 2em;
  margin: 2em;
  background-color: #0e103d;
  color: #f1edee;
  border-radius: 2em;
  box-shadow: .5em .5em 2em #071013;
}

.top-blogs {
  border: 2px solid #0e103dcb;
  background-color: #f1edee;
  color: #071013;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  box-shadow: .1em .1em 1em #f1edee;
}

.recent-blogs{
  border: 2px solid #0e103dcb;
  background-color: #f1edee;
  color: #071013;
  padding: 2em;
  margin: 1em;
  border-radius: 2em;
  box-shadow: .1em .1em 1em #f1edee;
}

.shop-block {
  border: 2px solid #0e103dcb;
  background-color: #b3001b;
  padding: 2em;
  margin: 2em;
  border-radius: 2em;
  box-shadow: 1em 1em 2em #071013;
  display: flex;
  justify-content: space-between;
}

.shop-block div {
  padding: 2em;
  border: 2px solid #071013;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 0 .5em #f1edee;
}

.footer {
  padding: 3em;
  margin-top: 2em;
  text-align: center;
  background-color: #f1edee84;
  border-top: #071013 solid 0.25em;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav img {
  width: 5em;
  border-radius: 4em;
  margin-bottom: .5em;
}

.footer-nav span {
  margin-top: 1em;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-socials span {
  margin: 1em;
}

.footer-copy {
  margin-top: 1em;
  font-size: 8px;
  color: rgba(82, 82, 82, 0.563);
}
