/* 

RESPONSIVE METRICS

MOBILE: 414px X 896px

TABLET: 768px X 1024px

DESKTOP: 1920px X 1080px 

*/



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  background-color: #f1edee;
}

.home-layout{
  display: flex;
  flex-direction: column;
}

.header{
  background-color: #5d737edc;
  padding: 2.5em;
}

.banner-text{
  display: flex;
  justify-content: flex-start;
  margin-top: .5em;
}

.banner-btns{
  display: flex;
  justify-content: space-evenly;
}

.btn-support{
  background-color: #b3001b;
}

.btn-subscribe{
  background-color: #0e103d;
}

.header-nav{
  display: flex; 
  background-color: #f1edee;
  padding: 2em;
}

.header-nav img{
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-links{
  margin-left: 1em;
}

.nav-buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  margin-bottom: .5em;
}

.support-btn{
  background-color: #071013;
}

.events-btn{
  background-color: #071013;
}

.mission-sect{
  margin-bottom: 1em;
}

.mission-vid{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: .5rem;
}

.mission-stats{
  border: 2px solid #0e103dcb;
  background-color: #f1edee;
  padding: 2em;
  margin: 1rem;
}

.roadmap-block{
  border: 2px solid #0e103dcb;
  padding: 2em;
  margin: 2em;
}

.roadmap-sect{
  border: 2px solid #0e103dcb;
  padding: 1em;
}

.roadmap-sect div{
  border: 2px solid #0e103dcb;
  text-align: center;
}

.about{
  border: 2px solid #0e103dcb;
  padding: 1em;
}

.resources{
  border: 2px solid #0e103dcb;
  padding: 1em;
}

.resource-block{
  border: 2px solid #0e103dcb;
  padding: 2em;
  margin: 2em;
}

.downloadable-block{
  border: 2px solid #0e103dcb;
  padding: 2em;
  margin: 2em;
}

.resource-btn-group{
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.resource-btn-group button{
  margin: 1em;
}

.support div{
  border: 2px solid #0e103dcb;
  text-align: center;
}

.events-block{
  border: 2px solid #0e103dcb;
  padding: 2em;
  margin: 2em;
}

.footer{
  padding: 3em;
  text-align: center;
}

.footer-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav img{
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

.footer-nav span{
  margin-top: 1em;
}

.footer-socials{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.footer-socials span{
  margin: 1em;
}

.footer-copy{
  margin-top: 1em;
  font-size: 8px;
  color: rgba(82, 82, 82, 0.563);
}